<!--? Logo no Header ?-->
<app-header></app-header>

<!--* Conteúdo Principal *-->
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>Desenvolvedor <b>FullStack</b></span>
            <h1>Procura um <b>talento</b> para sua empresa?<br/>
                Parabéns, <b>achou</b>!</h1>
        </div>
        <img src="./../../../assets/principal.png" alt="foto de David Ben" width="400" height="400">
        
    </section> 

    <aside>
        <div class="line-division"></div>
    </aside>

    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                90% das<br/>
                empresas
            </h2>
        </div>
        <p>entrariam em <b>contato</b> para, no mínimo, uma entrevista de emprego.</p>
    </section>
    <section class="cta-section">
        <a href="#">
            <btn-primary btn-text="Meu Currículo"></btn-primary>
        </a>
    </section>

    <!--! Pequeno Formulário !-->
    <newsletter-form></newsletter-form>

    <section class="benefit-section pad-70">
        <div>
            <benefit-card
            card-title="Hard Skills"
            img-path="/assets/team.png"
            card-description="
                Na empresa Em-soft Sistemas e fui reconhecido por uma alta proatividade, 
                produtividade e muita vontade de aprender coisas novas. 
                Sempre procurando e prezando o trabalho de equipe e comunicação sem exitar!
                Muita vontade de aprender coisas novas e sempre de ouvidos abertos a novos conhecimentos
                que sei que poderá agregar no meu desenvolvimento profissional.
            "
            >
            </benefit-card>
        </div>
        
        <aside>
            <div class="line-height-division"></div>
        </aside>

        <div>
            <benefit-card
            card-title="Soft Skills"
            img-path="/assets/softskills.png"
            card-description="Tenho um amplo conhecimento no Desenvolvimento Web, 
            desde aplicações simples até as mais complexas, conhecimento básico
            em Mobile Developer e um conhecimento em Backend Developer, desde aplicações simples 
            até as criações de APIs ou aplicações robustas, fora os conhecimentos em 
            Banco de Dados Relacionais e Não Relacionais.
            ">
            </benefit-card>
        </div>
        
    </section>

    <!--! Ultima interação do Usuário !-->
    <section class="cta-section pad-70">
        <h2>Está precisando de um <br/> <b>Desenvolvedor Junior</b>
        para a sua empresa?</h2>
        <btn-primary btn-text="Entre em contato comigo"></btn-primary>
    </section>

    <!--? Footer ?-->
    <app-footer></app-footer>
</main> 