$primary-text: #0F172A;
$secondary-text: #475569;
$primary-color: #8455FF;
$secondary-color: #5222D0;
$light-primary-color: #B79FF7;
$bg-secondary: #351686;

//? degradê claro
$d-1: #4158D0;
$d-2: #C850C0;
$d-3: #FFCC70;

//? degradê escuro
$d1-1: #1e2d79;
$d1-2: #a80e9e;
